body {
    width:100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h4 {
    text-align: center;
}

.p-border {
    border: 1px solid black;
    margin: 0.2%;
    padding: 1%;
    display: inline-block;
}